.Content {
  position: fixed;
  padding-top: 20px;
  top: 50px;
  right: 0;
  width: 80%;
  height: calc(100vh - 50px);
  display: flex;
  margin-left: auto;
  background-color: rgb(246, 246, 246);
  overflow: auto;
}
