.tongquan {
  padding: 0 20px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

.tongquan-top p {
  color: rgb(118, 118, 118);
}

.tongquan-top {
  line-height: 0.3;
}

.tongquan-mid {
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.card {
  background: white;
  border-radius: 16px;
  width: 20%;
  height: 18vh;
  padding: 15px 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card i {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  font-size: 15pt;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card h3 {
  margin-top: 10px;
  font-size: 16px;
}

.card .number {
  font-size: 28px;
  margin-top: 36px;
  margin-bottom: 0px;
  font-weight: 680;
}

.card span {
  font-size: 10pt;
  font-weight: lighter;
}

.tongquan-low {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3%;
}

.activity {
  width: 45%;
  border-radius: 16px;
  height: 28vh;
  padding: 10px 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  line-height: 20%;
}

.act {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.act i {
  margin-right: 3%;
}
.act span {
  margin-left: auto;
}

.green::before,
.blue::before,
.orange::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}
.green::before {
  background: green;
}
.blue::before {
  background: blue;
}
.orange::before {
  background: orange;
}
